<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="JsonCSharpClassGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup><userSettings>
        <JsonCSharpClassGenerator.Properties.Settings>
            <setting name="Namespace" serializeAs="String">
                <value>MyProject</value>
            </setting>
            <setting name="UseProperties" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SecondaryNamespace" serializeAs="String">
                <value>MyProject.JsonTypes</value>
            </setting>
            <setting name="InternalVisibility" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseSeparateNamespace" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TargetFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="NoHelper" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainClassName" serializeAs="String">
                <value>RootObject</value>
            </setting>
            <setting name="UsePascalCase" serializeAs="String">
                <value>True</value>
            </setting>
        </JsonCSharpClassGenerator.Properties.Settings>
    </userSettings>
</configuration>
